* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
    font-family: 'Merriweather', arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    color: #3e3f3f;
    background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 700;
  color: #1f2020;
  text-transform: uppercase;
}

h1 {
  margin: 50px 0;
  font-size: 4.65rem;
}

h1,
h2 {
  line-height: 1.1;
}

h3,
h4,
h5 {
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  h1 {
    margin: 80px 0;
    font-size: 5rem;
  }
}